@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}
.comfortaa{
  font-family: "Comfortaa", sans-serif;
}

.jakarta{
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {

 font-family: "Comfortaa", sans-serif;
 background-color: #F9FAFF;
 font-size: 18px;
 /* color: white; */
}
